:root {
  --primary-color: #ffffff;
  --secondary-color: #212429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.montserrat-font,
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid black;
  background-color: white;

  @media (max-width: 920px) {
    justify-content: center;
    align-items: center;
    justify-items: center;
    .navbar__icons,
    .navbar__links {
      display: none;
    }

    .navbar__tools {
      padding: 0;
      width: 100%;
    }
  }
}

.navbar__tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__icons {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navbar__links {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  .link {
    color: black;
    text-decoration: none;
  }
}

.container {
  @media (max-width: 920px) {
    .container__header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      header_text {
        font-size: 2rem;
      }
    }
    .container__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.container__header {
  padding: 2rem;
}

.container__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 300px));
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  .card_image {
    border-radius: 1rem;
  }
  .card__name {
    font-weight: 400;
    font-size: 1rem;
  }
  .card__details {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .card__price {
      font-weight: 600;
    }
  }
}

.footer__container {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin-top: 2rem;
  background-color: var(--secondary-color);

  @media (max-width: 920px) {
    .footer__list {
      flex-direction: column;
      align-items: self-start;
    }
    .footer__item {
      justify-content: flex-start;
      padding: 1rem;
      width: 100%;
      gap: 1rem;
      border-bottom: 1px solid var(--primary-color);
      font-weight: bold;
    }
  }
}

.footer__list {
  display: flex;
  width: 100%;
  text-decoration: none;
  list-style: none;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.footer__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 2rem;
}
